header {
  text-align: center;
}

h5 {
  background-color: rgba(236, 236, 113, 0.24);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

main img {
  width: 100%;
}

#image1 {
  width: 200px;
}

.paragrafo-yellow {
  color: rgb(255, 174, 0);
}
